
h1 {
	background-color: #f3e5ab;
	border-radius: 500%;
	background-size: 10% 100%; 
	color: #7B3F00;
	text-align: center;
	font-size: 96px;
	padding: 150px;
	margin: 31px auto;
	width: 10%;
}
h2 {
	background-color: #f3e5ab;
	border-radius: 300%;
	background-size: 10% 100%; 
	color: #612302;
	text-align: center;
	font-size: 42px;
	padding: 100px;
	margin: 30px auto;
	width: 7%;

}
div.text p {
	background-color: #7b3f00;
	border-radius: 300%;
	background-size: 10% 100%; 
	color: white;
	text-align: center;
	font-size: 24px;
	padding: 100px;
	margin: 30px auto;
}
div.weight p {
	width: 8%;
}
div.wten p {
	width: 10%;
}
div.wnine p {
	width: 9%;
}

